<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">SAR</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse" *ngIf="isUserAutenticated()">
    <ul class="navbar-nav mr-auto">

		<li class="nav-item">
			<a class="nav-link" routerLink="/forecast" routerLinkActive="active-link">Pronóstico</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" routerLink="/irrigations-plans" routerLinkActive="active-link">Planes de riego</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" routerLink="/measurements" routerLinkActive="active-link">Estado del cultivo</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" routerLink="/users" routerLinkActive="active-link">Usuarios</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" routerLink="/about-us" routerLinkActive="active-link">Nosotros</a>
		</li>

	</ul>
	<ul>
		<li class="nav-item">
			<a class="nav-link" (click)="logout()" style="color:white;">Cerrar sesión</a>
		  </li>
	</ul>
  </div>
</nav>