
:host{
	float: left;
    width: 100%;
    position: relative;
    height: 20px;
    background: #343a40!important;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
	text-align: center;
	color: white;
}