<div class="jumbotron" style="background-color: #fff; height: calc(95vh);">
  <h1>Bienvenido a SAR :: Sistemas Automatizados de Riego</h1>
  <p class="lead">
	  SAR le brinda el pronóstico del día
  </p>
  <div class="box-white"></div>



	<!-- <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="https://forecast.io/embed/#lat=-34.603684&amp;lon=-58.381559&amp;name=Buenos Aires, Argentina&amp;color=#00aaff&amp;locale=es"></iframe> -->
	<iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="https://www.meteored.com.ar/tiempo-en_Campana-America+Sur-Argentina-Provincia+de+Buenos+Aires--1-16637.html"></iframe>

	<!-- <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="https://darksky.net/forecast/-34.608,-58.4917/ca12/es"></iframe> -->

  <!-- <a class="btn btn-lg btn-primary" href="" role="button">View tutorial</a> -->
</div>

<!--URL ORIGINAL https://darksky.net/forecast/-34.608,-58.4917/ca12/es -->


  

 
 
