html {
    height: 100%;
    box-sizing: border-box;
}

::ng-deep .container {
	margin-bottom: 45px;
}

::ng-deep alert .alert {
	top: 75px;
}

::ng-deep .jumbotron {
	margin-top: 55px !important;
}

::ng-deep h2 {
	margin-top: 15px;
	margin-bottom: 45px;
}

::ng-deep .fr {
	float: right;
}

::ng-deep .card-padding {
	padding: 15px;
}

::ng-deep .btn-margin {
	margin: 0 0 15px 0;
}

::ng-deep .margin-bottom {
	margin-bottom: 45px;
}

